﻿@charset "utf-8";
html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; }
h1{text-transform: uppercase;font-size:41px;}
h2{text-transform: uppercase;letter-spacing: 2px;font-size: 20px;}
.lead { line-height: 1.25; }

.section { padding-bottom: 30px; }
.square-box { position: relative; width: 100%; overflow: hidden; }
.square-box:before { content: ""; display: block; padding-top: 100%; }
.square-content { position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.square-content .dt { display: table; width: 100%; height: 100%; }
.square-content .dc { display: table-cell; text-align: center; vertical-align: middle; }

#cv-file-select,
#attachment1-select,
#attachment2-select { cursor: pointer; }
.errorMessage {  position: absolute; z-index: table.update_compare, table.update_compare tr, table.update_compare td999999999999; padding: 5px 10px; margin-top: 6px; border-radius: 4px; cursor: pointer; white-space: nowrap; }
.errorMessage.file
{
	display: none;
}
.errorMessage::before { content: ''; position: absolute; width: 0; height: 0; border-left: 5px solid transparent !important; border-right: 5px solid transparent !important; border-bottom-width: 5px; border-bottom-style: solid; margin-top: -10px; }
.square-box + .errorMessage { margin-top: -24px; }

.file-loaded-mark { position: absolute; display: none; padding: 5px 10px 8px; margin-top: -1px; border-bottom-right-radius: 6px; }
.file-loaded-mark.glyph { font-size: 20px !important; }
.file-loaded-mark.glyph::before { display: block; margin-bottom: 5px; }
.file-loaded-mark.glyph span { font-weight: bold; font-family: sans-serif; font-size: 14px; text-transform: uppercase; }

#navigation { box-shadow: 0 0 3px #333; box-shadow: 0 0 3px rgba(0,0,0,0.4); }
.navbar { margin-bottom:0; }
.navbar-brand h2 { margin:0; }

#slide-0 { background-image:url('slide/slider-slide1.jpg'); }
#slide-1 { background-image:url('slide/slider-slide2.jpg'); }
#slide-2 { background-image:url('slide/slider-slide3.jpg'); }

#footer ul { margin:0; }
#footer li { margin: 20px 0; }

#order-form { padding: 30px 15px 0; margin: 0 0 30px 0; border-radius: 6px; } 
#order-form h2 { margin:0 0 30px 0; }
#order-form .page-header { border-bottom-width: 2px; }
#order-form .square-box { border-style: solid; margin-bottom: 30px; border-width: 0 0 4px 0; border-radius: 6px; }
#order-form .square-box .glyph { display: block; font-size: 44px; margin-bottom: 20px; }
#order-form .square-box span { display: block; }
#order-form .lead { margin-bottom: 0; }
#order-form .form-group { margin-bottom: 30px; }
#order-form .email-margin { margin-left: 15px; margin-right: 15px; }

/*#section-info .row-fluid-5 { display: none; } */
#section-info .span1 { padding: 15px; text-align: center; }
#section-info .square-box { border: solid 10px #AEC7CD; border-radius: 500px; }
#section-info .glyph { font-size: 63px; }
#section-info button {display: none !important;}

#section-contact { background-image: url('img/pattern.png'); }

#message { min-height: 141px; }


.underline { border-bottom-width: 2px; border-bottom-style: solid; }



#banner { min-height: 150px; padding: 30px 0 40px; backgroundr: #777; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }
#banner.contact {min-height: 250px;}
#banner h1 { display: inline-block; background-color: #FFF; color: #215064; padding: 20px; }
#wizard { margin-bottom: 20px; border-width: 0 0 4px 0; border-style: solid; }

#wizard .span1 { margin: 0; border-style: solid; border-width: 0 0 0 1px; }
#wizard .span1 { width: 20%; padding: 20px 1% 7px 1%; }
/*#wizard .span1.finish,
#wizard .span1.current + .span1 { border: none; }*/
#wizard .span1 h2 { margin: 0 0 3px 0; font-size: 18px; }
#wizard .span1 .glyph { float: left; font-size: 43px; margin: -1px 15px 0 5px; }
#wizard a { display: block; text-decoration: none; cursor: pointer; }


#banner .span1 { padding: 15px; text-align: center; }
#banner .square-box { border: solid 10px #AEC7CD; border-radius: 500px; }
#banner .glyph { font-size: 63px; color: #FFF; }
.banner-0 { background-image:url('slide/slide1.jpg'); }

#footer { position: absolute; bottom: 0; width: 100%; height: 60px; }

#companies-form .col-md-4 { padding: 0; }
#companies-form .form-group { margin: 0; padding: 0; }
#companies-form .form-group input[type=checkbox] { display: none; }
#companies-form .form-group label { display: block; margin: 2px 10px; padding: 10px 10px 9px 8px; font-weight: normal; cursor: pointer; border-radius: 6px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#companies-form .form-group label span { float: left; margin: -2px 15px 0 0; border-style: solid; border-width: 2px; border-radius: 5px; width: 25px; height: 25px; background-color: #FFF; }
#companies-form .form-group label span i { position: absolute; padding: 0; font-weight: bold; text-align: center; font-size: 28px; line-height: 14px; color: #FFF; visibility: hidden; }
#companies-form .form-group input[type=checkbox]:checked + label span i { visibility: visible; }

#filters ul { padding: 0; margin-top: 2px; }
#filters input[type=checkbox] { display: none; }
#filters label { display: block;  margin: 2px 0; padding: 10px 10px 9px 8px; font-weight: normal; cursor: pointer; border-radius: 6px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#filters label span { float: left; margin: -2px 10px 0 0; border-style: solid; border-width: 2px; border-radius: 5px; border-color: red; width: 25px; height: 25px; background-color: #FFF; }
#filters label span i { position: absolute; padding: 0; font-weight: bold; text-align: center; font-size: 28px; line-height: 14px; color: #FFF; visibility: hidden; }
#filters input[type=checkbox]:checked + label span i { visibility: visible; }

.template-text, .template-color { padding: 22px 10px 22px 15px; border-radius: 6px; margin-bottom: 10px; cursor: pointer; }
.template-text.selected, .template-color.selected { cursor: default; }
.template-text .preview, .template-color .preview { float: left; display: inline-block; margin: -7px 15px 0 0; width: 34px; height: 34px; border-radius: 5px; border-width: 3px; border-style: solid; text-align: center; font-size: 25px; line-height: 25px; }
.template-color .preview span { float: left; display: inline-block; width: 13px; height: 13px; }
.template-color .preview span.one { border-top-left-radius: 3px; margin: 0 2px 2px 0; }
.template-color .preview span.two { border-top-right-radius: 3px; margin: 0 0 2px 0; }
.template-color .preview span.three { border-bottom-left-radius: 3px; margin: 0 2px 0 0; }
.template-color .preview span.four { border-bottom-right-radius: 3px; }

.textarea { border-style: solid; border-width: 2px; padding: 30px; min-height: 300px; }
.mce-edit-focus { outline: none !important; }
.mce-tinymce.mce-panel { border-width: 2px !important; border-bottom-width:0 !important; border-top-left-radius: 5px !important; border-top-right-radius: 5px !important; }
.mce-tinymce.mce-panel.mce-fixed { border-width: 2px !important; }
#email-content { transition: border 500ms ease-out; -webkit-transition: border 500ms ease-out; -moz-transition: border 500ms ease-out; -o-transition: border 500ms ease-out; }
#text-tempaltes { display: none; }

#payment-systems .col-md-3 { padding: 0 5px; margin-bottom: 15px; }
.payment-system { background: #FFF; border-radius: 5px; padding: 5px; border: solid 1px #DDD; border-bottom-width: 3px; }
.payment-system img { float: left; border-radius: 5px; }
.payment-system span { float: left; text-align: left; display: inline-block; width: 65%; height: 50px; }
.payment-system span .dt { display: table; width: 100%; height: 100%; }
.payment-system span .dr { display: table-row; }
.payment-system span .dc { display: table-cell; vertical-align: middle; line-height: 17px; padding-left: 13px; }

.email-content.col-md-12 { margin-top: 16px; min-height: 220px; padding: 30px; font: 13px/20px normal 'Segoe UI',Helvetica,Arial,sans-serif; }


/* BOOTSTRAP CUSTOMIZATION */
.page-header { padding-bottom: 15px; margin: 40px 0 30px; }
.lead{font-size:23px;}
.btn { border-radius: 5px; border-width: 0 0 4px 0; }
.btn + .btn { margin-left: 15px; }
.form-control { box-shadow: none; border-radius: 5px; height: inherit; border-width: 2px; }
.navbar-default { border-bottom: none; }
.span5.buttons { border-top: 1px solid #eee; padding-top: 30px; margin-top: 30px; }
.preview .company { white-space: nowrap; overflow-x: hidden; padding-top: 5px; padding-bottom: 5px; }

a.underline-img {
	border-bottom: 1px solid transparent;
}
a.underline-img:hover {
	border-bottom: 1px solid #428bca;
}
.second-error {
    margin-top: -24px;
}
#error-cv-empty {
    margin-top: -24px;
}
/*.dropdown {*/
    /*cursor: pointer;*/
    /*text-decoration: underline;*/
    /*display: inline;    */
    /*color: #005299;*/
    /*margin-left: 35px;    */
/*}*/
/*.click_to_show_dropdown:hover {*/
    /*text-decoration: none;*/
    /*color: #215064;    */
/*}*/
/*.hidden_list {*/
    /*display: none;*/
    /*margin-top: 10px;*/
    /*margin-left: 20px;*/
/*}*/
.hidden_list {
    background: #F5F5F5;
}
.new-emails-import, .existent-domains-import {
    margin-top: 10px;
}
.prime-email:first-child td {
    border-top: none;
}
.existent-domains-import table:last-child {
    margin-bottom: 0px;
}
.import-block h2, .import-block ul {
    margin: 10px;
}
.import-block ul li {
    color: #1f1f1f;
    font-size: 14px;
    line-height: 18px;
}
.import-block h4 {
    font-size: 16px;
    margin-left: 35px;
}
/*hidden_list*/
.import-block h2 {
    color: #2f2f2f;
}
.hidden_list {
    display: none;
}
.import-block .prime-email {
    margin-top: 10px;
}
.left-button {
    margin-right: 10px;
}
table td.new {
    color: #468847;
}
.import-block h4.right {
    text-align: right;
}
.import-block h4.bold {
    font-weight: bold;
}
.importpreview img.rotated {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
}
.importpreview .block-header {
    margin-bottom: 0px;
    border-right: none;
    border-left: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.importpreview .collapse.in {

}
.importpreview .navbar-inner.block-header {
    font-size: 18px;
}
.importpreview .block-header div {
    padding-top: 10px;
    width: 100%;
}
.importpreview .alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.importpreview .alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.importpreview .alert-info {
    margin-top: 20px;
}
.import-block tr.prime-email td {
    padding-top: 30px;
}
#admin-area  .navbar-inner{
    min-height: 40px;
    padding-right: 20px;
    padding-left: 40px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    border-left: none;
    border-right: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

#admin-area .navbar-inner.total, #admin-area .navbar-inner.visible {
    padding-left: 20px;
}
#admin-area .importpreview td.navbar-inner-blue {
    color: #555;
    background-color: #e7e7e7;
    border-color: #D3CFCF;
    border-right: 1px solid #e7e7e7;
}
.importpreview .navbar-inner-blue.block-header div {
    padding: 0;
}
.importpreview .block {
    border: 1px solid #ccc;
    background: white;
    margin: 1em 0em;
    border-top: none;
}
.importpreview .block:first-child {
    margin-top: 1.2em;
}
.importpreview .table>tbody>tr>td {
    padding: 5px 0px 2px 0px;
}
.importpreview .table>tbody>tr>td:first-child {
    padding-left: 20px;
}
.importpreview .table>tbody>tr>td:last-child {
    padding-right: 19px;
}
.importpreview .block .block-header {
    cursor: pointer;
}
.importpreview table.update_compare tr.update-header-mail td, .importpreview .table tr.firs-padding td {
    padding-top: 20px;
}
.importpreview table.update_compare tr.update-header-mail td .get-update-hidden-input {
    margin-right: 10px;
}
.importpreview table.update_compare tr.update-header-mail:first-child td {
    padding-top: 5px;
}
.importpreview tr.firs-padding:nth-child(2) td {
    padding-top: 5px;
}
.importpreview .table td.check-box-col {
    width: 10px;
    padding-right: 10px;
    position: relative;
    top: 1px;
}
.importpreview .block {
    position: relative;
}
.importpreview .import-block img.export-to-scv-img {
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
    width: 25px;
}
.importpreview .block-header .badge {
    margin-right: 40px;
}
.importpreview .right-dropdown-arrow {
    float: right;
    width: 24px;
    opacity: 0.6;
}
.importpreview table tr.error {
    background: #FFD7D7;
    border-right: 1px solid #FFD7D7;
}
table.table.margin-bottom-none {
    margin-bottom: 0px;
}
table td.old {
    color: #b94a48;
}
table.update_compare {
    width: 100%;
}
.alert.margin-top-20 {
    margin-top: 20px;
}
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
tr.all-ui {
    position: absolute;
    z-index: 99;
    margin-top: -33px;
    border: none;
}
tr.all-ui td {
    border: none !important;
}

table tr.border-none td {
    border: none;
}
table tr.border-none {
    border-spacing: 7px 11px;
}
table.update_compare td {
    padding: 5px;
}
#admin-area, #admin-area #sidebar .portlet-title, #admin-area #sidebar .operations li a {
    font-size: 12pt !important;
}
#content.importpreview {
    width: 79%;
}
.contact-page h1, .contact-page p {
    margin-bottom: 15px;
}

.account-order .row {
    margin-bottom: 10px;
}

.payment-message {
    line-height: 30px;
}
.subject-templates {
    display: none;
}
.gratz {
    font-size: 18px;
}

#section-contact > p {
    text-align: justify;
}

#contact-form {
    margin-top: 25px;
}
img.check-companies {
   width: 18px;
    position: relative;
    left: 1px;
}
#filters input[type=checkbox] + label span img.check-companies, input[type=checkbox] + label span img.check-companies {
    display: none;
}
#filters input[type=checkbox]:checked + label span img.check-companies, input[type=checkbox]:checked + label span img.check-companies {
    display: inline;
}
#getCSV, .hidden-block {
    display: none;
}
.pagination-block {
    text-align: center;
    margin-top: 20px;
}
.pagination-block ul.yiiPager a:link, .pagination-block ul.yiiPager a:visited, .pagination-block ul.yiiPager a:link:hover {
    border: none;
}
.pagination-block ul.yiiPager a:link:hover {
    background: #9aafe5;
}
.clear {
    clear: both;
}

#filters input[type=checkbox]:checked.checkedByCookies.not-done + label span {
    background: #f59d36;
    background: -moz-linear-gradient(top, #D7D7D7 0%, #B6B6B6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D7D7D7), color-stop(100%,#B6B6B6));
    background: -webkit-linear-gradient(top, #D7D7D7 0%,#B6B6B6 100%);
    background: -o-linear-gradient(top, #D7D7D7 0%,#B6B6B6 100%);
    background: -ms-linear-gradient(top, #D7D7D7 0%,#B6B6B6 100%);
    background: linear-gradient(to bottom, #D7D7D7 0%,#B6B6B6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D7D7D7', endColorstr='#B6B6B6',GradientType=0 );
    border-color: #989898;
}

#admin-area .get-export-acces-block {
    display: none;
}
#companies-form .progress .progress-bar:nth-child(1) {
    background-color: #215064;
}
#companies-form p.tip {
    position: absolute;
    right: -69px;
    background: #f59d36;
    padding: 10px 10px;
    top: 1px;
    text-align: center;
    border-radius: 2px;
    color: #000000;
    width: 70px;
    z-index: 99;
    font-weight: bold;
}
#companies-form .form-group.disabled {
    opacity: 0.6;
}
#companies-form .form-group.disabled label {
    background: #e6e6e6;
}

#companies-form #loader {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    opacity: 0.7;
    left: 0;
    top: 0;
}
#companies-form.disabled #loader-img, #companies-form.disabled #loader {
    display: block;
}
#loader, #loader-img {
    display: none;
}


#loader-img {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
}
.progress-bar {
    overflow: hidden;
}
#companies-form #work-area-filters li {
    position: relative;
}
#progress-bars .progress {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0, 0.6);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .text-box {
    background: rgba(67, 114, 147, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#437293000,endColorstr=#437293000);
    zoom: 1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: inline-block;
    padding: 20px 50px;
}
.carousel-caption .text-box h1, .carousel-caption .text-box p, .carousel-caption .text-box-small h1, .carousel-caption .text-box-small p {
    margin: 0px;
}

.carousel-caption h1.text-shadow
{
    text-shadow: 3px 3px 12px #102737;
    filter: Shadow(Color=#102737, Direction=45, Strength=4);
}

.carousel-caption .text-box-small {
    background: rgba(67, 114, 147, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#437293000,endColorstr=#437293000);
    zoom: 1;
    padding: 20px 30px;
    display: inline-block;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
.errorMessage {
    z-index: 20;
}
#error-cv, #error-cv-empty, #error-cv-size {
    margin-top: -25px;
}
#admin-area div.wide.form label {
    width: 110px;
}
.hide-input {
    display: none;
}
.stepContent h3.page-header {
    margin-bottom: 15px;
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(33, 80, 100, 0.8) url(img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 99;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}