﻿@charset "utf-8";
body{color:#657073}
.light h1,
.light h2,
.light h3 {color:#215064}
.dark h1 { color:#FFF; }

.text-blue { color: #215064; }
.text-orange { color: #F2783C; }
input.error, textarea.error{ border-color: #a94442; }


#order-form { background-color:#EDF1F3; }
#order-form .page-header { border-color: #E0E0E0; }

.contact-page #section-contact {
    color: #657073;
    background-color: #ffffff;
    background: none;
}
.contact-page #section-contact .form-control {
    background: none;
    border-color: #AEB5B6 !important;
    color: #657073 !important;
}
.contact-page #section-contact .form-control:focus {
    border-color: #AEB5B6 !important;
}
.contact-page #section-contact .form-control::-webkit-input-placeholder {
    color: #657073 !important;
}

#order-form .square-box,
#section-contact {
color: #FFF;
background-color: #215064;
background: -moz-linear-gradient(top,  #336377 0%, #215064 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#336377), color-stop(100%,#215064));
background: -webkit-linear-gradient(top,  #336377 0%,#215064 100%);
background: -o-linear-gradient(top,  #336377 0%,#215064 100%);
background: -ms-linear-gradient(top,  #336377 0%,#215064 100%);
background: linear-gradient(to bottom,  #336377 0%,#215064 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336377', endColorstr='#215064',GradientType=0 );

}
#order-form .square-box { border-color: #517A85; }
.underline { border-color: #E0E0E0; }

#section-payments { background-color: rgb(250,238,222); border-bottom: 5px solid #F2783C; }
#section-payments .square-box { background-color: #DDD; }
#section-info .square-box .glyph { color: #215064; }
#footer { border-top: solid 1px #E0E0E0; }


/* BOOTSTRAP */
.form-control { border-color: #AEC7CD; }


/* ========== BACKGROUND ========== */

/* orange */
.btn-warning,
#wizard .span1.current,
.template-color.selected,
#filters input[type=checkbox]:checked + label span,
.file-loaded-mark { background: #f59d36;
background: -moz-linear-gradient(top,  #f59d36 0%, #f5892e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f59d36), color-stop(100%,#f5892e));
background: -webkit-linear-gradient(top,  #f59d36 0%,#f5892e 100%);
background: -o-linear-gradient(top,  #f59d36 0%,#f5892e 100%);
background: -ms-linear-gradient(top,  #f59d36 0%,#f5892e 100%);
background: linear-gradient(to bottom,  #f59d36 0%,#f5892e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59d36', endColorstr='#f5892e',GradientType=0 ); }

/* orange hover */
.btn-warning:hover,
.template-color.selected:hover,
#wizard .span1.current:hover { background: #ef8d3a;
background: -moz-linear-gradient(top,  #ef8d3a 0%, #ef7f35 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef8d3a), color-stop(100%,#ef7f35));
background: -webkit-linear-gradient(top,  #ef8d3a 0%,#ef7f35 100%);
background: -o-linear-gradient(top,  #ef8d3a 0%,#ef7f35 100%);
background: -ms-linear-gradient(top,  #ef8d3a 0%,#ef7f35 100%);
background: linear-gradient(to bottom,  #ef8d3a 0%,#ef7f35 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef8d3a', endColorstr='#ef7f35',GradientType=0 );
border-color: #F0692E; }


/* nympha */
.template-color,
#filters label:hover {
background: #faeede;
background: -moz-linear-gradient(top,  #faeede 0%, #f9e1cd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faeede), color-stop(100%,#f9e1cd));
background: -webkit-linear-gradient(top,  #faeede 0%,#f9e1cd 100%);
background: -o-linear-gradient(top,  #faeede 0%,#f9e1cd 100%);
background: -ms-linear-gradient(top,  #faeede 0%,#f9e1cd 100%);
background: linear-gradient(to bottom,  #faeede 0%,#f9e1cd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faeede', endColorstr='#f9e1cd',GradientType=0 ); }


/* dark blue gradient */
#wizard .span1.last,
.template-text.selected,
#companies-form .form-group input[type=checkbox]:checked + label span {
background-color: #215064 !important;
background: -moz-linear-gradient(top,  #336377 0%, #215064 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#336377), color-stop(100%,#215064)) !important;
background: -webkit-linear-gradient(top,  #336377 0%,#215064 100%) !important;
background: -o-linear-gradient(top,  #336377 0%,#215064 100%) !important;
background: -ms-linear-gradient(top,  #336377 0%,#215064 100%) !important;
background: linear-gradient(to bottom,  #336377 0%,#215064 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336377', endColorstr='#215064',GradientType=0 ) !important; }

/* very dark blue gradient */
#cv-file-select:hover,
#attachment1-select:hover,
#attachment2-select:hover,
#wizard .span1.last:hover { background: #2b596d;
background: -moz-linear-gradient(top,  #2b596d 0%, #1b465a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b596d), color-stop(100%,#1b465a));
background: -webkit-linear-gradient(top,  #2b596d 0%,#1b465a 100%);
background: -o-linear-gradient(top,  #2b596d 0%,#1b465a 100%);
background: -ms-linear-gradient(top,  #2b596d 0%,#1b465a 100%);
background: linear-gradient(to bottom,  #2b596d 0%,#1b465a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b596d', endColorstr='#1b465a',GradientType=0 ); }


/* greyish-blue */
.navbar-default .navbar-nav>.active>a,
.template-text,
#wizard .span1:hover,
#wizard .span1.current ~ .span1:hover,
#companies-form .form-group label:hover {
background: #f0f5f8;
background: -moz-linear-gradient(top,  #f0f5f8 0%, #e0e6e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f8), color-stop(100%,#e0e6e9));
background: -webkit-linear-gradient(top,  #f0f5f8 0%,#e0e6e9 100%);
background: -o-linear-gradient(top,  #f0f5f8 0%,#e0e6e9 100%);
background: -ms-linear-gradient(top,  #f0f5f8 0%,#e0e6e9 100%);
background: linear-gradient(to bottom,  #f0f5f8 0%,#e0e6e9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f5f8', endColorstr='#e0e6e9',GradientType=0 ); }


/* red */
.errorMessage { background: #ca3e39;
background: -moz-linear-gradient(top,  #ca3e39 0%, #ab3632 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca3e39), color-stop(100%,#ab3632));
background: -webkit-linear-gradient(top,  #ca3e39 0%,#ab3632 100%);
background: -o-linear-gradient(top,  #ca3e39 0%,#ab3632 100%);
background: -ms-linear-gradient(top,  #ca3e39 0%,#ab3632 100%);
background: linear-gradient(to bottom,  #ca3e39 0%,#ab3632 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca3e39', endColorstr='#ab3632',GradientType=0 ); }


 
/* white */
.navbar-default,
#wizard .span1.current ~ .span1,
.template-color .preview,
.template-text .preview { background: #FFF; }

/* dark blue */
#section-contact .form-control { background: #215064; }



/* ========== TEXT ========== */

/* greyish-blue */
#wizard .span1 .glyph,
#wizard .span1.current ~ .span1 .glyph,
#wizard .span1.last .glyph,
#section-contact .form-control::-webkit-input-placeholder
{ color: #AEC7CD; }

/* dark blue */
.navbar-default .navbar-nav>li>a,
#wizard .span1 h2,
#wizard .span1 p,
#companies-form .form-group input[type=checkbox]:checked + label,
.template-text,
#companies-form .form-group label:hover
{ color: #215064; }

/* dark nympha */
aaa { color: #F7C6A5; }

/* orange */
#section-payments li { color: #F2783C; }

/* white */
#wizard .span1.current .glyph,
#wizard .span1.last h2,
#wizard .span1.last p,
#section-contact .form-control,
.template-text.selected,
.errorMessage
{ color: #FFF !important; }

/* dark grey */
#wizard .span1.current h2,
#wizard .span1.current p,
#filters input[type=checkbox]:checked + label,
.template-color.selected,
.template-text .preview,
#section-payments,
#section-payments li span,
#filters label:hover
{ color: #222; }

/* light grey */
#companies-form .form-group label,
#filters label
{ color: #AAA; }
 

/* ========== BORDERS ========== */

/* orange */
.btn-warning,
#wizard,
#filters label span { border-color: #F56B28; }

/* dark blue */

/* greyish-blue */
#section-contact .form-control,
#companies-form .form-group label span,
.template-text .preview,
.mce-edit-focus,
.mce-tinymce.mce-panel,
#email-content:hover { border-color: #AEC7CD !important; }

/* light greyish-blue */
#wizard .span1,
#wizard .span1.current ~ .span1 { border-color: #D6DFE3; }

/* light grey */
#email-content { border-color: #EEE; }

/* grey */
aaa { border-color: #9E9E9E; }

/* dark nympha */
aaa { border-color: #F8D6BE; }

/* orange */
#wizard .span1.current + .span1 { border-color: #EF8838; }

/* dark orange */
#wizard .span1.current { border-color: #F0692E; }

/* white */
.template-color .preview,
#section-contact .form-control:focus { border-color: #FFF !important; }

/* red */
.errorMessage::before { border-color: #ca3e39; }







.btn-primary { background: #4895d7;
background: -moz-linear-gradient(top,  #4895d7 0%, #408aca 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4895d7), color-stop(100%,#408aca));
background: -webkit-linear-gradient(top,  #4895d7 0%,#408aca 100%);
background: -o-linear-gradient(top,  #4895d7 0%,#408aca 100%);
background: -ms-linear-gradient(top,  #4895d7 0%,#408aca 100%);
background: linear-gradient(to bottom,  #4895d7 0%,#408aca 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4895d7', endColorstr='#408aca',GradientType=0 );
border-color: #337CBB; }

.btn-primary:hover { background: #3d8ad3;
background: -moz-linear-gradient(top,  #3d8ad3 0%, #347dc2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d8ad3), color-stop(100%,#347dc2));
background: -webkit-linear-gradient(top,  #3d8ad3 0%,#347dc2 100%);
background: -o-linear-gradient(top,  #3d8ad3 0%,#347dc2 100%);
background: -ms-linear-gradient(top,  #3d8ad3 0%,#347dc2 100%);
background: linear-gradient(to bottom,  #3d8ad3 0%,#347dc2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d8ad3', endColorstr='#347dc2',GradientType=0 );
border-color: #286FB3; }