﻿@charset "utf-8";
@font-face{font-family:'effra';src:url("font/effra/e.eot");src:url("font/effra/e.eot?#iefix") format("embedded-opentype"),url("font/effra/e.woff") format("woff"),url("font/effra/e.ttf") format("truetype"),url("font/effra/e.svg#effraregular") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'dp';src: url('font/dp/dp.eot');src: url('font/dp/dp.eot?#iefix') format('embedded-opentype'),url('font/dp/dp.woff') format('woff'),url('font/dp/dp.ttf') format('truetype'),url('font/dp/dp.svg#dpro-boldregular') format('svg');font-weight: normal;font-style:normal}
body{font:13px/20px normal 'Segoe UI',Helvetica,Arial,sans-serif;}
h1{font-family:'dp','Segoe UI',Helvetica,Arial,sans-serif;}
h2{font-family:'effra',Arial;}