﻿@charset "utf-8";

@media (min-width: 1200px)
{
	.navbar-header { display: inline-block; min-width: 39%; margin-right: 1.66667% !important; }
	.padding-right { padding-right: 30px; }
}

@media (max-width: 1200px)
{
	#wizard .span1 .glyph { float: none; margin: 0; display: block; text-align: center; }
	#wizard .span1 h2 { margin: 15px 0; text-align: center; }
	#wizard .span1 p { display: none; }
}